{
	"password": "botpass",
	"nick": "botname",
	"channels": [
		"#hangout",
		"#hangout2"
	],
	"network": "irc.libera.chat",
	"port": 6697,
	"bind": "127.0.0.1",
	"showErrors": true,
	"rejoin": false,
	"auto": true,
	"secure": true,
	"signed": false,
	"certExpired": false,
	"protect": true,
	"protectDelay": 1000,
	"sasl": true,
	"retry": 0,
	"delay": 2000,
	"strip": false,
	"prefix": "&#",
	"split": 1024,
	"encoding": "",
	"settings": {
		"debug_notice": false,
		"debug": false,
		"testing": false
	},
	"allow": [
		"admin_nick_1",
		"admin_nick_2"
	]
}
